<h1>Books</h1>


<table cellspacing="15">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><span>
            <%= book.title %>
          </span></td>
        <td><span>
            <%= book.body %>
          </span></td>
        <td>
          <%= link_to 'show' , book_path(book.id) %>
        </td>
        <td>
          <%= link_to "Edit" , edit_book_path(book.id) %>
        </td>
        <td>
          <%= link_to "Destroy" , book_path(book.id), method: :delete, "data-confirm"=> "Are you sure?" %>
        </td>
      </tr>
    </tbody>
    <% end %>
</table>


<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
    </ul>
    <% end %>

      <%= form_with model: @book do |f| %>


        <div>
          <label for="book_title">Title</lebel><br>
            <%= f.text_field :title %>
        </div>


        <div>
          <label for="book_body">Body</label><br>
          <%= f.text_area :body %>
        </div>

        <div>
          <%= f.submit 'Create Book' %>
        </div>



        <% end %>